<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" name="login" [(ngModel)]="login" />
      <input type="password" name="password" [(ngModel)]="password" />
      <div *ngIf="showErrorMessage">
        <a id="errorMessage">Invalid username or password!<br/> Please try again</a>
      </div>
      <button (click)="handleLogin()">Login</button>
      <p class="message btn">Not registered? <a (click)="handleRegister()">Create an account</a></p>
    </form>
  </div>
</div>

