<div class="container">
    <div>
      <H2>Register</H2>
    </div>
    <br/>
    Login:
    <br/>
    <input type="text" name="login" [(ngModel)]="login" />
    <br/>
    Password:
    <br/>
    <input type="password" name="password" [(ngModel)]="password" />
    <br/>
    First name:
    <br/>
    <input type="text" name="firstName" [(ngModel)]="firstName" />
    <br/>
    Last name:
    <br/>
    <input type="text" name="lastName" [(ngModel)]="lastName" />
    <br/>
    Email:
    <br/>
    <input type="text" name="email" [(ngModel)]="email" />
    <br/>
    Phone number:
    <br/>
    <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" />
    <br/><br/>
    <button class="btn btn-success" (click)="handleBack()">Back</button>
    <button class="btn btn-success" (click)="handleRegister()">Register</button>&nbsp;
  </div>
